@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  background-color: #f5f7fb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
